.container{
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container > .contentFoto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .foto{
    width: 200px;
    height: 150px;
  }