.container {
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid black;
}
.container > .contentFoto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 150px;
  padding: 10px;
}

.foto {
  width: 150px;
  height: 150px;
}
