
.container{
    display:grid;
    justify-content:space-around;
    text-align: center;
    grid-template-columns:2fr 3fr fr;
    grid-template-rows:5vh 70vh 20vh;
    width: 100%;
   
}

.button{
    margin-top: 30px;
}