.container{
    display: inline-grid;
    width: 100%;

}

.container > .dados{
    background-color: var(--branco);
    color: var(--branco);
    border-radius: 5px;
    border: 1px solid var(--preto);
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    width: 100%;
    margin: 5px;
}

.dados > small{
    padding: 5px;
    margin: 5px;
    background-color: var(--cinza);
    height: 28px;
    width: auto;
}

.btn{
    width: 250px;
    height: 40px;
    margin: 10px;
    background-color: var(--azul);
    border: 1px solid var(--branco);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;  
    font-size: 16px;
}

