.container{
    display: inline-grid;
    width: 100%;
}

.dados{
    /* background-color: var(--azul); */
    color: var(--branco);
    padding: 10px;
    border-radius: 5px;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    width: 100%;
    margin-bottom: 2px;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}

.dados > small{
    /* padding: 10px; */
    margin: 5px 5px 0 0;
    background-color: var(--azulClaro);
    height: 40px;
    width: 165px;
    border-radius: 5px;
    box-shadow: 1px 1px var(--branco);
    text-align: center;
}

.btn{
    /* width: 90px;
    height: 30px; */
    margin: 10px;
    padding: 5px 20px;
    background-color: var(--azul);
    border: 1px solid var(--branco);
    border-radius: 70px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;  
    font-size: 12px;
}

.link{
    /* width: 150px;
    height: 40px; */
    /* margin: 5px; */
    padding: 5px 18px;
    background-color: var(--azul);
    border: 1px solid var(--branco);
    border-radius: 70px;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;  
    font-size: 12px;
}