.forms{
    display: grid;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--branco);

}

.forms > fieldset{
    display: grid;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
    background-color:var(--azulClaro);
}

.imageForm {
    width: 100px;
    height: 80px;
}