.forms{
    display: grid;
    width: 600px;
    margin: 20px;
    border: 1px solid black;
    text-align: center;
}

.forms > fieldset{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.imageForm {
    width: 100px;
    height: 90px;
}